cmd/packetd/packetd
cmd/packetd/packetd-*
cmd/settingsd/settingsd*
*.pyc
__pycache__/
#*
.#*
core
.go_work/
.pkgdir/
ipkg-x86_64/
.built
.built_check
.configured_*
.prepared
.quilt_checked
.source_dir